@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.header_main{
    width: 100%;
    background-color: #007765;
    height:84px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 21;
    transition: height 1s ease-in-out;
    left: -1px;

}
a {
    text-decoration: none;
}

/*Основной стиль для текста */
.main_container {
    width: 100%;
    max-width: 1219px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 150px;
    padding-right: 150px;

}
.menu_link {
    color: #fff;
    font-size: 25px;
    font-style:unset;
    
}
.navigation_container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section {
    background: url(./img/image.png) center no-repeat;
    background-size: cover;
    margin: top 84px;px;
    padding-top: 120px;
    padding-bottom: 100px;
    margin-left: -15px;
    width: 1650px;
    
}
.main__title {
    text-align: center;
    color: #fff;
    font-size: 55px;
    
}
.heading_title {
    color: #007765;
    text-align: center;
    font-size: 64px;
}
.text_problem {
    font-size: 32px;
}
.hero_message {
    background-image: url(./img/hero_o.png);
    background-size: cover;
    width: 1650x;
    padding-top: 200px;
    padding-bottom: 200px;
    font-size: 48px;
    text-align: center;
    color: #ffff;
    font-family: sans-serif;
    margin-left: -8px;
}
.heading {
    text-align: center;
    color: #007765;
    font-size: 64px;
}

.ppc_logo {
    float: left;
    padding-right: 48px;
    padding-left: 124px;
}
.ppc_text {
    font-size: 32px;
    color: #101414;
    padding-left: 120px;
}
.title_team {
    color: #007765;
    text-align: center;
    font-size: 64px;
    padding-right: 100px;

}
.window_team {
    background-color: #EEEEEE;
    width: 1750px;
    margin-left: -15px;
    
}
.cards_img {
    width: 350px;
    height: 283px;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding-bottom: 50px;
    padding-left: 140px;
    display: inline-block;
}
.name_card {
    color: #007765;
}
.team {
    padding-top: 58px;
}
.cards_foto{
    width: 168px;
    height: 168px;
}
.footer {
    padding-top: 50px;
    background-color: #333;
    height: 176px;
    text-align: center;
    padding-left: 50px;
    left: -30px;
    right: 15px;
}
.message_footer {
    width: 540px;
    height: 64px;
    margin: 0 auto;
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

}